<div class="guff_fn_content">
  <div class="guff_fn_pages">
    <div class="guff_fn_page_ajax">
      <div class="guff_fn_full_page_template" data-page-style="contained">

        <!-- ALL PAGES -->
        <div class="guff_fn_full_page_in">


          <div class="container">
            <div class="fn__page_layout">
              <div class="container">
                <!-- PAGE TITLE -->
                <div class="guff_fn_pagetitle " style="">
                  <div class="container">
                    <div class="pagetitle">
                      <h3 class="fn__title">Contact</h3>
                      <div class="guff_fn_breadcrumbs">
                        <ul id="breadcrumbs" class="breadcrumbs">
                          <li class="item-home"><a class="bread-link bread-home" href="https://frenify.com/work/envato/frenify/wp/guff/1" title="Home">Home</a></li>
                          <li class="separator separator-home"> <span></span> </li>
                          <li class="item-current item-344"><span class="bread-current bread-344"> Contact</span></li>
                        </ul>
                      </div>
                      <div class="pt_decor">
                        <div class="decor_middle"></div>
                        <div class="decor_plus_left"></div>
                        <div class="decor_plus_right"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /PAGE TITLE -->
              </div>
              <div class="page_content">

                <form action="/contact" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
                    <div style="display: none;">
                      <input type="hidden" name="_wpcf7" value="343">
                      <input type="hidden" name="_wpcf7_version" value="5.8.2">
                      <input type="hidden" name="_wpcf7_locale" value="en_US">
                      <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f343-p344-o1">
                      <input type="hidden" name="_wpcf7_container_post" value="344">
                      <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                    </div>
                    <div class="fn__contact">
                      <div class="item half_item">
                        <p><span class="wpcf7-form-control-wrap" data-name="name"><input size="40" class="wpcf7-form-control" autocomplete="name" aria-required="true" aria-invalid="false" placeholder="Your Name *" value="" type="text" name="name"></span>
                        </p>
                      </div>
                      <div class="item half_item">
                        <p><span class="wpcf7-form-control-wrap" data-name="email"><input size="40" class="wpcf7-form-control" autocomplete="email" aria-required="true" aria-invalid="false" placeholder="Your Email *" value="" type="email" name="email"></span>
                        </p>
                      </div>
                      <div class="item half_item">
                        <p><span class="wpcf7-form-control-wrap" data-name="phone"><input size="40" class="wpcf7-form-control" aria-invalid="false" placeholder="Phone (optional)" value="" type="tel" name="phone"></span>
                        </p>
                      </div>
                      <div class="item half_item">
                        <p><span class="wpcf7-form-control-wrap" data-name="subject"><input size="40" class="wpcf7-form-control " aria-invalid="false" placeholder="Topic (optional)" value="" type="text" name="subject"></span>
                        </p>
                      </div>
                      <div class="item">
                        <p><span class="wpcf7-form-control-wrap" data-name="message"><textarea cols="40" rows="10" class="wpcf7-form-control" aria-invalid="false" placeholder="Message" name="message"></textarea></span>
                        </p>
                      </div>
                      <div class="item">
                        <div class="guff_submit">
                          <p><input class="wpcf7-form-control wpcf7-submit" type="submit" value="Send Message">
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                  </form>




                <p></p>



                <p><br></p>
                <div class="clearfix"></div>
              </div>



            </div>
          </div>




        </div>
      </div>





    </div>

    <div class="clearfix"></div>




    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- !Footer -->

  </div>

</div>