<div class="guff_fn_content">
  <div class="guff_fn_pages">
    <div class="guff_fn_page_ajax">
      <div class="guff_fn_index" data-blog-item-color="disable" data-blog-meta-color="disable" data-blog-typog-color="disable" data-page-style="ws">


        <!-- WITH SIDEBAR -->
        <div class="guff_fn_hassidebar">
          <div class="sidebar__inner">
            <!-- PAGE TITLE -->
            <div class="guff_fn_pagetitle " style="">
              <div class="container">
                <div class="pagetitle">
                  <h3 class="fn__title">Hot Posts</h3>
                  <div class="guff_fn_breadcrumbs">
                    <ul id="breadcrumbs" class="breadcrumbs">
                      <li class="item-home"><a class="bread-link bread-home" href="/" title="Home">Home</a></li>
                      <li class="separator separator-home"> <span></span> </li>
                      <li class="item-current item-183"><span class="bread-current bread-183"> Hot Posts</span></li>
                    </ul>
                  </div>
                  <div class="pt_decor">
                    <div class="decor_middle"></div>
                    <div class="decor_plus_left"></div>
                    <div class="decor_plus_right"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /PAGE TITLE -->
            <div class="sidebarpage">
              <div class="guff_fn_leftsidebar">


                <div class="ls_content">
                  <div class="guff_fn_bloglist">
                    <ul class="fn__blog_list fn__blog_list_container_ws fn__blog_list_layout_masonry" style="position: relative; height: 6174.06px;">
                    <% popularPosts.forEach(post=> { %>
                      <li class="post-69 post type-post status-publish format-standard has-post-thumbnail hentry category-inspiration category-photography category-travel-exploration tag-art tag-culture tag-education tag-environmentalart tag-exploration tag-history tag-inspiration tag-photography tag-style tag-wellness tag-writing post_item typography_disable" id="post-69" style="position: absolute; left: 0px; top: 5556.65px;">
                        <div class="blog__item blog__item_masonry">
                          <div class="item_decor">
                            <div class="decor_top"><span></span><span></span><span></span><span></span></div>
                            <div class="decor_bottom"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" viewBox="0 0 26.4 19.08" style="enable-background:new 0 0 26.4 19.08;" xml:space="preserve" class="fn__svg  replaced-svg">

                                <path d="M19,0c0,0-4,12-19,13c2,0,10,1,14-2S19,0,19,0z"></path>
                                <path d="M26,0c-1.12,2.47-1.09,13.51-23,19c11,0,15,1,20-4S26,0,26,0z"></path>
                              </svg></div>
                          </div>
                          <div class="list_in">
                            <div class="list_image">
                              <div class="list_left_in">
                                <div class="blog__image"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/exploring-the-depths-unveiling-the-wonders-of-the-underwater-world/" aria-label="E">
                                    <div class="img_overlay">
                                      <div class="img_in"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/126-300x168.jpg" width="300" height="168" alt="" loading="lazy"></div>
                                    </div>
                                  </a></div>
                              </div>
                              <div class="list_key">10</div>
                            </div>
                            <div class="list_bottom">
                              <div class="title">
                                <h2 class="post__title"><span><a href="https://frenify.com/work/envato/frenify/wp/guff/1/exploring-the-depths-unveiling-the-wonders-of-the-underwater-world/">Exploring the Depths: Unveiling the Wonders of the Underwater World</a></span></h2>
                              </div>
                              <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/2023/10/26/">Oct 26, 2023</a></span></span><span class="meta_item meta_category"><a class="" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/inspiration/">Inspiration</a></span></div>
                              <div class="desc desc_post_content">
                                <p><%= post.short_description %></p>
                              </div>
                              <div class="fn__read_more"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/exploring-the-depths-unveiling-the-wonders-of-the-underwater-world/" aria-label="Exploring the Depths Unveiling the Wonders of the Underwater World"><span class="icon"></span><span class="text">Read More</span></a></div>
                            </div>
                            <div class="fn__full_meta">
                              <div class="full_meta"><span class="meta_item meta__author" data-type="short"><a class="fn__tooltip_item" href="https://frenify.com/work/envato/frenify/wp/guff/1/author/frenify/" aria-label="frenify — 27 Articles, 25 Episodes"><span class="has_img"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/11/a01.jpg" alt=""></span><span class="t_text">frenify — 27 Articles, 25 Episodes</span></a></span>
                                <div class="other_metas"><span class="meta_item meta__comment"><a class="fn__tooltip_item" href="https://frenify.com/work/envato/frenify/wp/guff/1/exploring-the-depths-unveiling-the-wonders-of-the-underwater-world/#respond" aria-label="Go to comments"><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg  replaced-svg">

                                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                                          <path d="M2295 4979 c-650 -65 -1214 -327 -1647 -766 -732 -739 -855 -1809 -308 -2668 72 -113 70 -99 44 -295 -53 -414 -172 -756 -326 -938 -68 -79 -74 -117 -25 -162 27 -26 48 -25 214 5 409 76 839 213 1149 367 l121 60 119 -42 c142 -50 357 -103 509 -125 232 -34 575 -36 800 -5 752 106 1417 508 1811 1097 85 126 213 388 259 528 218 667 88 1395 -352 1962 -397 512 -1005 861 -1678 962 -201 31 -501 39 -690 20z m-787 -1984 c165 -75 241 -279 167 -443 -95 -211 -364 -269 -535 -115 -202 182 -118 516 147 583 60 15 158 4 221 -25z m1135 20 c100 -26 187 -99 231 -194 32 -71 30 -197 -6 -273 -31 -68 -95 -133 -164 -168 -42 -21 -62 -25 -144 -25 -82 0 -102 4 -144 25 -69 35 -133 100 -164 168 -36 76 -38 202 -6 273 43 93 131 168 227 194 68 18 101 18 170 0z m1252 -19 c221 -101 266 -397 85 -559 -132 -119 -328 -117 -456 5 -194 183 -113 502 145 575 64 18 161 9 226 -21z"></path>
                                        </g>
                                      </svg><span class="text">0</span><span class="t_text">0 Comments</span></a></span><span class="meta_item meta__time"><span class="fn__tooltip_item"><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg  replaced-svg">

                                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                                          <path d="M765 4514 c-5 -1 -22 -5 -37 -8 -41 -9 -95 -61 -113 -109 -14 -38 -15 -183 -13 -1459 l3 -1416 31 -39 c55 -68 79 -76 250 -84 177 -9 226 -14 389 -40 440 -72 821 -252 1098 -518 l47 -45 0 1439 c0 792 -4 1457 -9 1478 -24 102 -259 362 -431 477 -255 169 -581 279 -920 309 -129 12 -280 19 -295 15z"></path>
                                          <path d="M4185 4510 c-420 -25 -755 -128 -1045 -321 -172 -113 -407 -374 -431 -476 -5 -21 -9 -686 -9 -1477 l0 -1439 53 49 c285 268 653 441 1092 513 163 26 212 31 389 40 171 8 195 16 250 84 l31 39 3 1411 c2 985 0 1423 -8 1449 -12 44 -52 93 -89 112 -40 21 -94 24 -236 16z"></path>
                                          <path d="M105 3861 c-48 -22 -69 -44 -90 -94 -13 -32 -15 -208 -15 -1522 0 -1614 -3 -1523 53 -1583 54 -59 113 -66 269 -33 597 125 1225 142 1703 46 65 -13 121 -23 123 -21 6 7 -95 90 -178 145 -207 138 -474 236 -783 287 -48 8 -183 20 -300 28 -130 9 -228 20 -254 30 -140 50 -250 165 -293 305 -19 61 -20 99 -20 1247 l0 1184 -87 0 c-64 0 -99 -6 -128 -19z"></path>
                                          <path d="M4800 2696 c0 -1148 -1 -1186 -20 -1247 -43 -140 -153 -255 -293 -305 -26 -10 -122 -21 -252 -30 -115 -7 -241 -18 -280 -24 -310 -48 -597 -152 -805 -291 -82 -55 -184 -138 -178 -145 2 -2 58 8 123 21 478 96 1106 79 1703 -46 156 -33 215 -26 269 33 56 60 53 -31 53 1585 0 1422 -1 1490 -19 1528 -36 78 -91 105 -216 105 l-85 0 0 -1184z"></path>
                                        </g>
                                      </svg><span class="text">4</span><span class="t_text">4 Min Read</span></span></span><span class="meta_item meta__page_views"><span class="fn__tooltip_item"><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg  replaced-svg">

                                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                                          <path d="M2285 4675 c-536 -71 -1019 -339 -1377 -765 -147 -175 -295 -447 -372 -681 -75 -229 -106 -422 -106 -669 0 -247 31 -440 106 -669 151 -461 457 -854 879 -1131 178 -116 454 -231 675 -280 211 -47 495 -63 705 -40 382 43 751 191 1065 428 181 137 403 387 530 596 274 455 367 1019 254 1546 -66 308 -198 591 -397 855 -73 96 -265 290 -363 367 -311 245 -700 405 -1086 447 -128 14 -388 12 -513 -4z m414 -415 c602 -54 1115 -401 1385 -937 242 -481 242 -1042 0 -1524 -100 -201 -239 -383 -395 -518 -534 -463 -1269 -557 -1894 -244 -691 347 -1063 1115 -905 1870 163 781 838 1338 1650 1362 25 0 96 -4 159 -9z"></path>
                                          <path d="M2475 3624 c-65 -8 -171 -27 -194 -36 -24 -8 -22 -10 30 -44 148 -97 234 -243 246 -419 24 -354 -308 -632 -656 -550 -127 30 -254 121 -321 229 -19 30 -38 56 -41 56 -9 0 -29 -96 -41 -202 -27 -243 50 -523 202 -727 307 -412 850 -552 1306 -337 121 58 203 114 296 204 325 314 415 803 223 1209 -162 344 -477 570 -855 613 -83 10 -134 11 -195 4z"></path>
                                        </g>
                                      </svg><span class="text">108</span><span class="t_text">108 Views</span></span></span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    <% }) %>

                    </ul>
                  </div>
                  <div class="guff_fn_pagination">
                    <div class="container">
                      <div class="pag_in">
                        <div class="pag_inner"><span class="left_decor"><span class="pd_a"></span><span class="pd_b"></span><span class="pd_c"></span><span class="pd_d"></span><span class="pd_e"></span><span class="pd_f"></span></span>
                          <ul>
                            <li class="active"><span class="current">1</span></li>
                            <li><a href="https://frenify.com/work/envato/frenify/wp/guff/1/hot-page/page/2/" class="inactive">2</a></li>
                            <li><a href="https://frenify.com/work/envato/frenify/wp/guff/1/hot-page/page/3/" class="inactive">3</a></li>
                          </ul><span class="right_decor"><span class="pd_a"></span><span class="pd_b"></span><span class="pd_c"></span><span class="pd_d"></span><span class="pd_e"></span><span class="pd_f"></span></span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <div class="guff_fn_rightsidebar">
                <div class="sidebar_in">

                  <div class="guff_fn_sidebar">
                    <div id="guff_author-2" class="widget_block clearfix widget_guff_author">
                      <div class="wid-title"><span class="text"><span>About Me</span></span></div>
                      <div class="guff_fn_widget_author">
                        <div class="img__holder">
                          <div class="img"><span class="d1"></span><span class="d2"></span><span class="d3"></span><span class="d4"></span><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/author/frenify/"></a>
                            <div class="img_in">
                              <div><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/11/a01-300x300.jpg" alt=""></div>
                            </div>
                          </div>
                        </div>
                        <div class="info_desc">
                          <div class="author_top">
                            <h3 class="fn_title"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/author/frenify/">Mark Twein</a></h3>
                            <p class="fn_desc">Mark Coleman is a writer, speaker, and productivity expert known for his work on habit formation and continuous improvement. </p>
                          </div>
                          <div class="author_bottom">
                            <ul class="author_social">
                              <li><a class="fn__tooltip_item" href="#"><span class="t_text">Facebook</span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="513.000000pt" viewBox="0 0 512.000000 513.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg icon_facebook replaced-svg">

                                    <g transform="translate(0.000000,513.000000) scale(0.100000,-0.100000)" stroke="none">
                                      <path d="M2905 5123 c-68 -9 -226 -53 -301 -82 -385 -154 -636 -462 -736 -904 -17 -79 -21 -139 -27 -412 l-6 -320 -280 -5 c-236 -4 -285 -8 -311 -22 -46 -25 -111 -101 -123 -144 -7 -25 -11 -199 -11 -485 l0 -445 26 -52 c14 -29 42 -66 62 -82 65 -53 108 -60 389 -60 l253 0 0 -955 c0 -1054 -4 -994 63 -1063 18 -19 50 -43 72 -55 39 -22 47 -22 520 -22 475 0 480 0 521 22 48 25 101 83 120 129 12 28 14 201 14 988 l0 955 328 3 c312 3 329 4 367 24 51 28 91 68 119 119 20 39 21 52 24 470 2 293 0 446 -8 482 -14 66 -57 124 -117 160 l-48 28 -330 5 -330 5 0 190 c1 105 4 207 8 228 14 70 22 71 362 77 257 5 306 8 340 23 50 22 100 70 128 122 22 39 22 48 22 475 0 430 0 436 -22 476 -28 52 -71 96 -116 118 -31 14 -86 16 -489 15 -249 -1 -466 -4 -483 -6z m813 -600 l-3 -318 -270 -6 c-213 -4 -281 -9 -322 -22 -110 -36 -204 -127 -237 -231 -27 -82 -38 -240 -34 -489 3 -246 7 -266 56 -310 47 -43 81 -46 440 -47 l342 0 0 -345 0 -345 -356 0 c-341 0 -358 -1 -393 -21 -20 -11 -48 -36 -61 -56 l-25 -37 -3 -993 -2 -993 -355 0 -355 0 -2 993 -3 993 -25 37 c-13 20 -41 45 -61 56 -35 20 -53 21 -338 21 l-301 0 0 345 0 345 288 0 c300 1 338 6 384 47 52 47 52 50 59 478 6 389 7 403 32 495 42 156 90 256 174 368 125 165 323 282 549 326 115 22 118 23 487 24 l337 2 -2 -317z"></path>
                                    </g>
                                  </svg></a></li>
                              <li><a class="fn__tooltip_item" href="#"><span class="t_text">Twitter</span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg icon_twitter replaced-svg">

                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
                                      <path d="M75 5093 c10 -16 448 -653 973 -1418 525 -765 955 -1395 955 -1400 0 -6 -431 -512 -959 -1126 -527 -613 -965 -1123 -973 -1132 -13 -16 1 -17 206 -17 l220 0 849 987 c467 542 854 988 859 989 6 2 316 -442 689 -986 l679 -990 744 0 c705 0 743 1 734 18 -5 9 -460 672 -1010 1472 -550 800 -1001 1457 -1001 1460 0 4 418 492 929 1085 l928 1080 -215 3 c-177 2 -218 0 -231 -12 -9 -8 -374 -431 -811 -939 -437 -509 -798 -923 -802 -921 -4 3 -296 425 -649 939 l-642 935 -745 0 -744 0 17 -27z m2815 -2529 c855 -1224 1557 -2229 1558 -2235 3 -6 -118 -8 -334 -7 l-338 3 -1558 2228 c-857 1226 -1558 2231 -1558 2233 0 2 152 4 338 4 l337 -1 1555 -2225z"></path>
                                    </g>
                                  </svg></a></li>
                              <li><a class="fn__tooltip_item" href="#"><span class="t_text">Pinterest</span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg icon_pinterest replaced-svg">

                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                                      <path d="M2430 5114 c-527 -43 -923 -180 -1265 -438 -102 -77 -264 -238 -342 -341 -346 -458 -454 -1078 -277 -1587 98 -280 245 -471 493 -636 68 -45 126 -82 130 -82 4 0 45 143 91 318 94 353 96 376 62 520 -57 237 -42 568 33 769 146 386 678 641 1240 593 530 -44 893 -302 994 -706 103 -407 -89 -1028 -387 -1258 -107 -82 -208 -119 -319 -118 -146 1 -249 55 -299 157 -39 81 -31 139 56 420 206 664 226 894 95 1100 -61 97 -178 178 -302 210 -75 20 -219 19 -297 -1 -214 -55 -399 -235 -485 -470 -47 -128 -64 -224 -64 -369 0 -139 9 -209 49 -349 23 -82 24 -96 14 -155 -13 -77 -61 -271 -159 -639 -179 -672 -243 -1039 -244 -1387 0 -153 4 -208 21 -286 22 -107 65 -220 118 -315 l36 -64 101 69 c107 73 208 168 278 261 166 222 333 611 475 1104 19 66 37 122 39 124 2 3 26 -10 53 -27 98 -63 211 -109 352 -143 85 -20 374 -17 480 5 482 103 933 436 1196 883 279 475 338 1042 164 1589 -86 271 -250 532 -452 720 -299 279 -695 454 -1168 515 -87 11 -428 21 -510 14z m509 -319 c399 -58 722 -204 966 -437 250 -239 389 -525 440 -908 78 -576 -165 -1145 -640 -1501 -396 -297 -877 -365 -1177 -166 -77 52 -150 128 -258 271 -52 69 -97 125 -100 125 -3 1 -31 -99 -64 -222 -171 -649 -268 -939 -401 -1202 -33 -66 -81 -151 -105 -188 l-45 -68 -8 48 c-4 26 -5 104 -2 173 14 300 73 626 200 1115 154 590 196 764 207 851 13 99 14 92 -37 279 -66 247 -19 513 118 662 31 32 79 72 109 88 48 27 62 30 143 30 107 0 154 -19 198 -82 69 -98 39 -305 -123 -827 -39 -127 -77 -259 -85 -294 -86 -370 199 -697 605 -694 233 1 434 93 613 281 203 212 337 505 402 876 116 657 -185 1195 -795 1424 -671 251 -1515 56 -1884 -436 -113 -151 -167 -282 -207 -509 -38 -214 -25 -536 29 -729 6 -21 2 -55 -14 -118 -12 -49 -24 -91 -27 -93 -8 -9 -89 118 -128 200 -183 392 -127 935 140 1333 107 159 254 308 413 415 76 52 251 143 348 181 164 65 403 118 617 137 130 12 422 4 552 -15z"></path>
                                    </g>
                                  </svg></a></li>
                              <li><a class="fn__tooltip_item" href="#"><span class="t_text">Instagram</span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg icon_instagram replaced-svg">

                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                                      <path d="M1100 5105 c-287 -43 -514 -157 -721 -364 -213 -213 -329 -451 -368 -750 -15 -117 -15 -2745 0 -2862 39 -299 155 -537 368 -750 213 -213 451 -329 750 -368 117 -15 2745 -15 2862 0 299 39 537 155 750 368 213 213 329 451 368 750 15 117 15 2745 0 2862 -39 299 -155 537 -368 750 -213 213 -451 329 -750 368 -128 17 -2778 13 -2891 -4z m2997 -452 c113 -39 138 -52 231 -116 148 -102 265 -261 324 -440 l33 -102 0 -1435 c0 -1373 -1 -1438 -19 -1495 -67 -217 -183 -378 -354 -494 -74 -50 -138 -79 -242 -112 l-75 -24 -1435 0 -1435 0 -102 33 c-280 92 -476 297 -569 597 -18 57 -19 122 -19 1495 0 1373 1 1438 19 1495 71 228 195 394 380 510 78 49 212 101 295 115 25 4 683 7 1461 6 l1415 -1 92 -32z"></path>
                                      <path d="M3880 4256 c-71 -16 -112 -38 -160 -87 -65 -67 -85 -120 -85 -224 0 -78 4 -97 27 -140 55 -104 148 -165 264 -173 85 -5 130 7 201 55 199 134 176 439 -40 542 -74 35 -133 43 -207 27z"></path>
                                      <path d="M2396 3829 c-483 -67 -895 -403 -1045 -855 -51 -154 -65 -243 -65 -414 0 -171 14 -260 65 -415 121 -362 433 -673 797 -795 152 -50 242 -64 412 -64 170 0 260 14 412 64 364 122 676 433 797 795 51 155 65 244 65 415 0 224 -43 407 -140 590 -185 347 -503 586 -889 665 -96 20 -314 28 -409 14z m421 -458 c107 -35 136 -49 218 -104 168 -113 281 -270 346 -477 20 -65 24 -96 24 -230 0 -165 -12 -226 -71 -357 -74 -168 -249 -343 -418 -418 -130 -58 -191 -70 -356 -70 -165 0 -226 12 -356 70 -169 75 -344 250 -418 418 -59 131 -71 192 -71 357 0 134 4 165 24 230 34 108 64 171 121 254 113 164 271 277 465 334 99 29 114 31 265 27 119 -3 146 -7 227 -34z"></path>
                                    </g>
                                  </svg></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div id="guff_custom_post-2" class="widget_block clearfix widget_guff_custom_post">
                      <div class="wid-title"><span class="text"><span>Chosen Post</span></span></div>
                      <div class="img_holder"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/empowered-elegance-embracing-the-modern-womans-journey/" class="full_link"></a>
                        <div class="img abs_img frenify-ready" data-bg-img="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/119-300x217.jpg" style="background-image: url(&quot;https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/119-300x217.jpg&quot;);"></div>
                      </div>
                      <div class="title_holder">
                        <h3 class="fn_title fn_limited_title"><span><a href="https://frenify.com/work/envato/frenify/wp/guff/1/empowered-elegance-embracing-the-modern-womans-journey/">Empowered Elegance: Embracing the Modern Woman’s Journey</a></span></h3>
                        <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/2023/10/26/">Oct 26, 2023</a></span></span><span class="meta_item meta_category"><a class="" href=" https://frenify.com/work/envato/frenify/wp/guff/1/category/fashion/">Fashion</a></span></div>
                      </div>
                    </div>
                    <div id="guff_top_articles-2" class="widget_block clearfix widget_guff_top_articles">
                      <div class="wid-title"><span class="text"><span>Popular</span></span></div>
                      <div class="guff_fn_widget__articles no_nav">
                        <div class="top_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 557.97 1061" style="enable-background:new 0 0 557.97 1061;" xml:space="preserve" class="fn__svg  replaced-svg">
                            <path d="M557.97,554.2c0,4.13,0,8.26,0,12.39c-0.37,2.83-0.75,5.66-1.11,8.49c-2.47,19.12-10.14,35.74-23.81,49.46  c-1.02,1.02-2.42,1.87-3.79,2.31c-8.96,2.89-18.12,3.28-27.38,1.91c-13.68-2.03-26.18-7.3-38.1-14.08  c-21.62-12.31-40.29-28.39-57.82-45.86c-28.44-28.34-53.31-59.63-76.03-92.68c-0.61-0.89-1.29-1.73-2.3-3.08  c-0.1,1.2-0.17,1.63-0.17,2.06c0.03,32.31-0.98,64.6-3.29,96.83c-1.56,21.73-3.32,43.46-5.57,65.13  c-2.71,26.12-6.58,52.09-11.66,77.88c-6.4,32.52-15.07,64.34-28.3,94.82c-22.74,52.42-51.12,101.67-83.67,148.55  c-17.42,25.09-35.96,49.32-57.81,70.77c-14.1,13.84-28.57,27.36-48.82,31.92c-1.97,0-3.95,0-5.92,0c-3.98-1.33-7.87-2.73-10.95-5.86  c-5.86-5.95-8.47-13.2-8.88-21.34c-0.68-13.44,2.95-26.11,7.27-38.6c7.44-21.55,17.29-42.09,27.01-62.67  c14.89-31.52,29.92-62.97,43.1-95.26c17.4-42.65,30.2-86.59,37.18-132.14c3.19-20.81,5.97-41.71,8.22-62.64  c2.09-19.52,3.54-39.12,4.7-58.73c1.05-17.73,1.42-35.5,1.92-53.26c0.95-34.02,0.14-68.02-1.36-102c-0.16-3.52-0.46-7.03-0.7-10.54  c-1.06,0.87-1.57,1.78-2.04,2.72c-18.76,36.7-39.4,72.27-63.39,105.83c-13.17,18.43-27.28,36.08-44.08,51.41  c-9.45,8.62-19.55,16.34-31.6,21.09c-7.23,2.86-14.69,4.16-22.4,2.77c-13.71-2.47-20.98-11.51-24.1-24.42  c-1.07-4.42-1.54-8.97-2.29-13.47c0-4.49,0-8.98,0-13.46c0.18-0.86,0.42-1.72,0.53-2.59c1.04-8.27,1.79-16.58,3.14-24.79  c3.57-21.68,9.15-42.91,15.05-64.05c9.97-35.71,20.36-71.3,30.05-107.09c9.64-35.6,17.21-71.58,18.86-108.63  c1.27-28.54,0.95-57.05,0.09-85.58c-0.86-28.33-2.7-56.65-1.36-85.02c0.56-11.84,1.68-23.63,4.84-35.09  C75.99,20.25,84.24,5.72,102.87,0c1.8,0,3.59,0,5.39,0c5.02,1.57,10.2,2.77,15.04,4.79c10.07,4.19,19.11,10.23,27.92,16.58  c22.42,16.14,42.81,34.66,62.61,53.83c49.96,48.37,96.11,100.26,141.08,153.24c9.64,11.35,18.66,23.27,28.83,34.13  c38.53,41.13,74.39,84.4,106,131.1c19.59,28.93,37.26,58.96,50.61,91.35c7.53,18.28,13.53,37.01,16.13,56.7  C557.02,545.87,557.47,550.04,557.97,554.2z"></path>
                          </svg>
                          <div><span></span><span></span><span></span></div>
                        </div>
                        <div class="btm_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 557.97 1061" style="enable-background:new 0 0 557.97 1061;" xml:space="preserve" class="fn__svg  replaced-svg">
                            <path d="M557.97,554.2c0,4.13,0,8.26,0,12.39c-0.37,2.83-0.75,5.66-1.11,8.49c-2.47,19.12-10.14,35.74-23.81,49.46  c-1.02,1.02-2.42,1.87-3.79,2.31c-8.96,2.89-18.12,3.28-27.38,1.91c-13.68-2.03-26.18-7.3-38.1-14.08  c-21.62-12.31-40.29-28.39-57.82-45.86c-28.44-28.34-53.31-59.63-76.03-92.68c-0.61-0.89-1.29-1.73-2.3-3.08  c-0.1,1.2-0.17,1.63-0.17,2.06c0.03,32.31-0.98,64.6-3.29,96.83c-1.56,21.73-3.32,43.46-5.57,65.13  c-2.71,26.12-6.58,52.09-11.66,77.88c-6.4,32.52-15.07,64.34-28.3,94.82c-22.74,52.42-51.12,101.67-83.67,148.55  c-17.42,25.09-35.96,49.32-57.81,70.77c-14.1,13.84-28.57,27.36-48.82,31.92c-1.97,0-3.95,0-5.92,0c-3.98-1.33-7.87-2.73-10.95-5.86  c-5.86-5.95-8.47-13.2-8.88-21.34c-0.68-13.44,2.95-26.11,7.27-38.6c7.44-21.55,17.29-42.09,27.01-62.67  c14.89-31.52,29.92-62.97,43.1-95.26c17.4-42.65,30.2-86.59,37.18-132.14c3.19-20.81,5.97-41.71,8.22-62.64  c2.09-19.52,3.54-39.12,4.7-58.73c1.05-17.73,1.42-35.5,1.92-53.26c0.95-34.02,0.14-68.02-1.36-102c-0.16-3.52-0.46-7.03-0.7-10.54  c-1.06,0.87-1.57,1.78-2.04,2.72c-18.76,36.7-39.4,72.27-63.39,105.83c-13.17,18.43-27.28,36.08-44.08,51.41  c-9.45,8.62-19.55,16.34-31.6,21.09c-7.23,2.86-14.69,4.16-22.4,2.77c-13.71-2.47-20.98-11.51-24.1-24.42  c-1.07-4.42-1.54-8.97-2.29-13.47c0-4.49,0-8.98,0-13.46c0.18-0.86,0.42-1.72,0.53-2.59c1.04-8.27,1.79-16.58,3.14-24.79  c3.57-21.68,9.15-42.91,15.05-64.05c9.97-35.71,20.36-71.3,30.05-107.09c9.64-35.6,17.21-71.58,18.86-108.63  c1.27-28.54,0.95-57.05,0.09-85.58c-0.86-28.33-2.7-56.65-1.36-85.02c0.56-11.84,1.68-23.63,4.84-35.09  C75.99,20.25,84.24,5.72,102.87,0c1.8,0,3.59,0,5.39,0c5.02,1.57,10.2,2.77,15.04,4.79c10.07,4.19,19.11,10.23,27.92,16.58  c22.42,16.14,42.81,34.66,62.61,53.83c49.96,48.37,96.11,100.26,141.08,153.24c9.64,11.35,18.66,23.27,28.83,34.13  c38.53,41.13,74.39,84.4,106,131.1c19.59,28.93,37.26,58.96,50.61,91.35c7.53,18.28,13.53,37.01,16.13,56.7  C557.02,545.87,557.47,550.04,557.97,554.2z"></path>
                          </svg>
                          <div><span></span><span></span><span></span></div>
                        </div><span class="ts_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 465.44 458.31" style="enable-background:new 0 0 465.44 458.31;" xml:space="preserve" class="fn__svg  replaced-svg">
                            <path d="M106.73,457.27c-15.16,4.81-31.23-7.01-45.5-36.63c-15.59-32.77-29.97-66.14-44.96-99.21C3.36,306.5-0.67,288.2,0.09,269.64  c1.02-31.88,31.1-46.9,56.99-28.41c13.99,10,27.96,21.5,30.04,40.83c18.85,36.7,31.24,75.88,38.38,116.37  C131.07,430.07,122.94,452.02,106.73,457.27z"></path>
                            <path d="M297.99,282.93c-3.45-9.85-7.52-20.04-13.7-28.31c-27.38-36.71-55.26-73.11-89.65-103.77c-6.92-6.2-14.74-11.73-22.93-16.08  c-12.37-6.54-25.01-6.44-35.85,3.76c-10.73,10.1-11.24,22.39-6.81,35.7c3.4,10.26,9.03,19.24,16.22,26.96  c13.6,14.57,27.84,28.54,36.24,37.08c21.36,19.77,36.55,34.5,52.53,48.3c9.73,8.39,20.25,16.08,31.23,22.8  c8.27,5.09,17.87,6.19,26.28-0.78C299.83,301.75,301.22,292.25,297.99,282.93z"></path>
                            <path d="M429.38,110.73c-13.64,1.23-27.88,3.95-40.84-4.09l-0.15,0.15c-48.03-3.86-95.91-8.16-141.73-24.28  c-13.14-4.6-26.11-10.56-38.48-17.1c-12.52-6.4-19.02-17.23-17.84-31.75c1.17-14.51,10.83-22.81,23.3-28.25  c12.02-4.99,25.05-5.62,38.08-5.36c43.87,0.53,85.85,11.22,127.51,24.01c23.07-1.3,43.2,8.61,62.88,18.36  c15.5,7.92,25.72,20.73,22.87,39.58C462.58,97.39,449.16,108.8,429.38,110.73z"></path>
                          </svg></span><span class="bs_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 465.44 458.31" style="enable-background:new 0 0 465.44 458.31;" xml:space="preserve" class="fn__svg  replaced-svg">
                            <path d="M106.73,457.27c-15.16,4.81-31.23-7.01-45.5-36.63c-15.59-32.77-29.97-66.14-44.96-99.21C3.36,306.5-0.67,288.2,0.09,269.64  c1.02-31.88,31.1-46.9,56.99-28.41c13.99,10,27.96,21.5,30.04,40.83c18.85,36.7,31.24,75.88,38.38,116.37  C131.07,430.07,122.94,452.02,106.73,457.27z"></path>
                            <path d="M297.99,282.93c-3.45-9.85-7.52-20.04-13.7-28.31c-27.38-36.71-55.26-73.11-89.65-103.77c-6.92-6.2-14.74-11.73-22.93-16.08  c-12.37-6.54-25.01-6.44-35.85,3.76c-10.73,10.1-11.24,22.39-6.81,35.7c3.4,10.26,9.03,19.24,16.22,26.96  c13.6,14.57,27.84,28.54,36.24,37.08c21.36,19.77,36.55,34.5,52.53,48.3c9.73,8.39,20.25,16.08,31.23,22.8  c8.27,5.09,17.87,6.19,26.28-0.78C299.83,301.75,301.22,292.25,297.99,282.93z"></path>
                            <path d="M429.38,110.73c-13.64,1.23-27.88,3.95-40.84-4.09l-0.15,0.15c-48.03-3.86-95.91-8.16-141.73-24.28  c-13.14-4.6-26.11-10.56-38.48-17.1c-12.52-6.4-19.02-17.23-17.84-31.75c1.17-14.51,10.83-22.81,23.3-28.25  c12.02-4.99,25.05-5.62,38.08-5.36c43.87,0.53,85.85,11.22,127.51,24.01c23.07-1.3,43.2,8.61,62.88,18.36  c15.5,7.92,25.72,20.73,22.87,39.58C462.58,97.39,449.16,108.8,429.38,110.73z"></path>
                          </svg></span>
                        <div class="item has_img" title="Hello world!"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/hello-world/"></a>
                          <div class="item_img typ_overlay">
                            <div class="img_in">
                              <h4 class="typ_title">H</h4><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/hello-world/"></a>
                            </div>
                          </div>
                          <div class="title_holder">
                            <h3 class="fn_title fn_limited_title"><span><a href="https://frenify.com/work/envato/frenify/wp/guff/1/hello-world/">Hello world!</a></span></h3>
                            <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/2023/10/26/">Oct 26, 2023</a></span></span><span class="meta_item meta_category"><a class="" href=" https://frenify.com/work/envato/frenify/wp/guff/1/category/uncategorized/">Uncategorized</a></span></div>
                          </div>
                        </div>
                        <div class="item has_img" title="Capturing the Magic: The Enchanting Beauty of the Setting Sun"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/capturing-the-magic-the-enchanting-beauty-of-the-setting-sun/"></a>
                          <div class="item_img">
                            <div class="img_in frenify-ready" data-bg-img="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/136-150x150.jpg" style="background-image: url(&quot;https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/136-150x150.jpg&quot;);"></div>
                          </div>
                          <div class="title_holder">
                            <h3 class="fn_title fn_limited_title"><span><a href="https://frenify.com/work/envato/frenify/wp/guff/1/capturing-the-magic-the-enchanting-beauty-of-the-setting-sun/">Capturing the Magic: The Enchanting Beauty of the Setting Sun</a></span></h3>
                            <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/2023/10/26/">Oct 26, 2023</a></span></span><span class="meta_item meta_category"><a class="" href=" https://frenify.com/work/envato/frenify/wp/guff/1/category/inspiration/">Inspiration</a></span></div>
                          </div>
                        </div>
                        <div class="item has_img" title="Unbridled Beauty: Exploring the Majesty of Horses"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/unbridled-beauty-exploring-the-majesty-of-horses/"></a>
                          <div class="item_img">
                            <div class="img_in frenify-ready" data-bg-img="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/111-150x150.jpg" style="background-image: url(&quot;https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/111-150x150.jpg&quot;);"></div>
                          </div>
                          <div class="title_holder">
                            <h3 class="fn_title fn_limited_title"><span><a href="https://frenify.com/work/envato/frenify/wp/guff/1/unbridled-beauty-exploring-the-majesty-of-horses/">Unbridled Beauty: Exploring the Majesty of Horses</a></span></h3>
                            <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/2023/10/26/">Oct 26, 2023</a></span></span><span class="meta_item meta_category"><a class="" href=" https://frenify.com/work/envato/frenify/wp/guff/1/category/history-culture/">History &amp; Culture</a></span></div>
                          </div>
                        </div>
                        <div class="item has_img" title="Into the Vast: A Journey Through the Sky's Limitless Canvas"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/into-the-vast-a-journey-through-the-skys-limitless-canvas/"></a>
                          <div class="item_img">
                            <div class="img_in frenify-ready" data-bg-img="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/112-150x150.jpg" style="background-image: url(&quot;https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/112-150x150.jpg&quot;);"></div>
                          </div>
                          <div class="title_holder">
                            <h3 class="fn_title fn_limited_title"><span><a href="https://frenify.com/work/envato/frenify/wp/guff/1/into-the-vast-a-journey-through-the-skys-limitless-canvas/">Into the Vast: A Journey Through the Sky's Limitless Canvas</a></span></h3>
                            <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/2023/10/26/">Oct 26, 2023</a></span></span><span class="meta_item meta_category"><a class="" href=" https://frenify.com/work/envato/frenify/wp/guff/1/category/inspiration/">Inspiration</a></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="guff_social-2" class="widget_block clearfix widget_guff_social">
                      <div class="wid-title"><span class="text"><span>Follow me</span></span></div>
                      <div class="guff_fn_widget_social">
                        <ul>
                          <li><a class="fn__tooltip_item" href="https://www.facebook.com/"><span class="t_text">Facebook</span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="513.000000pt" viewBox="0 0 512.000000 513.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg replaced-svg">

                                <g transform="translate(0.000000,513.000000) scale(0.100000,-0.100000)" stroke="none">
                                  <path d="M2905 5123 c-68 -9 -226 -53 -301 -82 -385 -154 -636 -462 -736 -904 -17 -79 -21 -139 -27 -412 l-6 -320 -280 -5 c-236 -4 -285 -8 -311 -22 -46 -25 -111 -101 -123 -144 -7 -25 -11 -199 -11 -485 l0 -445 26 -52 c14 -29 42 -66 62 -82 65 -53 108 -60 389 -60 l253 0 0 -955 c0 -1054 -4 -994 63 -1063 18 -19 50 -43 72 -55 39 -22 47 -22 520 -22 475 0 480 0 521 22 48 25 101 83 120 129 12 28 14 201 14 988 l0 955 328 3 c312 3 329 4 367 24 51 28 91 68 119 119 20 39 21 52 24 470 2 293 0 446 -8 482 -14 66 -57 124 -117 160 l-48 28 -330 5 -330 5 0 190 c1 105 4 207 8 228 14 70 22 71 362 77 257 5 306 8 340 23 50 22 100 70 128 122 22 39 22 48 22 475 0 430 0 436 -22 476 -28 52 -71 96 -116 118 -31 14 -86 16 -489 15 -249 -1 -466 -4 -483 -6z m813 -600 l-3 -318 -270 -6 c-213 -4 -281 -9 -322 -22 -110 -36 -204 -127 -237 -231 -27 -82 -38 -240 -34 -489 3 -246 7 -266 56 -310 47 -43 81 -46 440 -47 l342 0 0 -345 0 -345 -356 0 c-341 0 -358 -1 -393 -21 -20 -11 -48 -36 -61 -56 l-25 -37 -3 -993 -2 -993 -355 0 -355 0 -2 993 -3 993 -25 37 c-13 20 -41 45 -61 56 -35 20 -53 21 -338 21 l-301 0 0 345 0 345 288 0 c300 1 338 6 384 47 52 47 52 50 59 478 6 389 7 403 32 495 42 156 90 256 174 368 125 165 323 282 549 326 115 22 118 23 487 24 l337 2 -2 -317z"></path>
                                </g>
                              </svg></a></li>
                          <li><a class="fn__tooltip_item" href="https://x.com/"><span class="t_text">Twitter</span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg replaced-svg">

                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
                                  <path d="M75 5093 c10 -16 448 -653 973 -1418 525 -765 955 -1395 955 -1400 0 -6 -431 -512 -959 -1126 -527 -613 -965 -1123 -973 -1132 -13 -16 1 -17 206 -17 l220 0 849 987 c467 542 854 988 859 989 6 2 316 -442 689 -986 l679 -990 744 0 c705 0 743 1 734 18 -5 9 -460 672 -1010 1472 -550 800 -1001 1457 -1001 1460 0 4 418 492 929 1085 l928 1080 -215 3 c-177 2 -218 0 -231 -12 -9 -8 -374 -431 -811 -939 -437 -509 -798 -923 -802 -921 -4 3 -296 425 -649 939 l-642 935 -745 0 -744 0 17 -27z m2815 -2529 c855 -1224 1557 -2229 1558 -2235 3 -6 -118 -8 -334 -7 l-338 3 -1558 2228 c-857 1226 -1558 2231 -1558 2233 0 2 152 4 338 4 l337 -1 1555 -2225z"></path>
                                </g>
                              </svg></a></li>
                          <li><a class="fn__tooltip_item" href="https://www.pinterest.com/"><span class="t_text">Pinterest</span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg replaced-svg">

                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                                  <path d="M2430 5114 c-527 -43 -923 -180 -1265 -438 -102 -77 -264 -238 -342 -341 -346 -458 -454 -1078 -277 -1587 98 -280 245 -471 493 -636 68 -45 126 -82 130 -82 4 0 45 143 91 318 94 353 96 376 62 520 -57 237 -42 568 33 769 146 386 678 641 1240 593 530 -44 893 -302 994 -706 103 -407 -89 -1028 -387 -1258 -107 -82 -208 -119 -319 -118 -146 1 -249 55 -299 157 -39 81 -31 139 56 420 206 664 226 894 95 1100 -61 97 -178 178 -302 210 -75 20 -219 19 -297 -1 -214 -55 -399 -235 -485 -470 -47 -128 -64 -224 -64 -369 0 -139 9 -209 49 -349 23 -82 24 -96 14 -155 -13 -77 -61 -271 -159 -639 -179 -672 -243 -1039 -244 -1387 0 -153 4 -208 21 -286 22 -107 65 -220 118 -315 l36 -64 101 69 c107 73 208 168 278 261 166 222 333 611 475 1104 19 66 37 122 39 124 2 3 26 -10 53 -27 98 -63 211 -109 352 -143 85 -20 374 -17 480 5 482 103 933 436 1196 883 279 475 338 1042 164 1589 -86 271 -250 532 -452 720 -299 279 -695 454 -1168 515 -87 11 -428 21 -510 14z m509 -319 c399 -58 722 -204 966 -437 250 -239 389 -525 440 -908 78 -576 -165 -1145 -640 -1501 -396 -297 -877 -365 -1177 -166 -77 52 -150 128 -258 271 -52 69 -97 125 -100 125 -3 1 -31 -99 -64 -222 -171 -649 -268 -939 -401 -1202 -33 -66 -81 -151 -105 -188 l-45 -68 -8 48 c-4 26 -5 104 -2 173 14 300 73 626 200 1115 154 590 196 764 207 851 13 99 14 92 -37 279 -66 247 -19 513 118 662 31 32 79 72 109 88 48 27 62 30 143 30 107 0 154 -19 198 -82 69 -98 39 -305 -123 -827 -39 -127 -77 -259 -85 -294 -86 -370 199 -697 605 -694 233 1 434 93 613 281 203 212 337 505 402 876 116 657 -185 1195 -795 1424 -671 251 -1515 56 -1884 -436 -113 -151 -167 -282 -207 -509 -38 -214 -25 -536 29 -729 6 -21 2 -55 -14 -118 -12 -49 -24 -91 -27 -93 -8 -9 -89 118 -128 200 -183 392 -127 935 140 1333 107 159 254 308 413 415 76 52 251 143 348 181 164 65 403 118 617 137 130 12 422 4 552 -15z"></path>
                                </g>
                              </svg></a></li>
                          <li><a class="fn__tooltip_item" href="https://www.instagram.com/"><span class="t_text">Instagram</span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg replaced-svg">

                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                                  <path d="M1100 5105 c-287 -43 -514 -157 -721 -364 -213 -213 -329 -451 -368 -750 -15 -117 -15 -2745 0 -2862 39 -299 155 -537 368 -750 213 -213 451 -329 750 -368 117 -15 2745 -15 2862 0 299 39 537 155 750 368 213 213 329 451 368 750 15 117 15 2745 0 2862 -39 299 -155 537 -368 750 -213 213 -451 329 -750 368 -128 17 -2778 13 -2891 -4z m2997 -452 c113 -39 138 -52 231 -116 148 -102 265 -261 324 -440 l33 -102 0 -1435 c0 -1373 -1 -1438 -19 -1495 -67 -217 -183 -378 -354 -494 -74 -50 -138 -79 -242 -112 l-75 -24 -1435 0 -1435 0 -102 33 c-280 92 -476 297 -569 597 -18 57 -19 122 -19 1495 0 1373 1 1438 19 1495 71 228 195 394 380 510 78 49 212 101 295 115 25 4 683 7 1461 6 l1415 -1 92 -32z"></path>
                                  <path d="M3880 4256 c-71 -16 -112 -38 -160 -87 -65 -67 -85 -120 -85 -224 0 -78 4 -97 27 -140 55 -104 148 -165 264 -173 85 -5 130 7 201 55 199 134 176 439 -40 542 -74 35 -133 43 -207 27z"></path>
                                  <path d="M2396 3829 c-483 -67 -895 -403 -1045 -855 -51 -154 -65 -243 -65 -414 0 -171 14 -260 65 -415 121 -362 433 -673 797 -795 152 -50 242 -64 412 -64 170 0 260 14 412 64 364 122 676 433 797 795 51 155 65 244 65 415 0 224 -43 407 -140 590 -185 347 -503 586 -889 665 -96 20 -314 28 -409 14z m421 -458 c107 -35 136 -49 218 -104 168 -113 281 -270 346 -477 20 -65 24 -96 24 -230 0 -165 -12 -226 -71 -357 -74 -168 -249 -343 -418 -418 -130 -58 -191 -70 -356 -70 -165 0 -226 12 -356 70 -169 75 -344 250 -418 418 -59 131 -71 192 -71 357 0 134 4 165 24 230 34 108 64 171 121 254 113 164 271 277 465 334 99 29 114 31 265 27 119 -3 146 -7 227 -34z"></path>
                                </g>
                              </svg></a></li>
                          <li><a class="fn__tooltip_item" href="http://tiktok.com/"><span class="t_text">Tiktok</span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg replaced-svg">

                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
                                  <path d="M2518 3328 l-3 -1793 -23 -65 c-35 -95 -84 -170 -156 -238 -186 -174 -471 -200 -684 -63 -61 39 -149 131 -185 192 -143 245 -74 569 156 733 36 25 95 58 133 73 63 25 81 27 199 27 126 0 133 -1 250 -42 65 -23 120 -42 122 -42 2 0 3 256 3 569 l0 569 -135 17 c-254 33 -523 12 -758 -61 -117 -36 -346 -152 -457 -231 -121 -87 -296 -262 -383 -383 -77 -108 -183 -317 -221 -435 -108 -335 -110 -684 -4 -1015 168 -525 614 -944 1157 -1086 327 -85 689 -67 1008 52 503 186 891 617 1024 1136 46 181 49 245 49 1081 l0 787 98 -49 c322 -161 630 -231 1013 -231 l149 0 0 534 0 534 -62 6 c-35 3 -110 8 -167 11 -128 7 -194 19 -296 52 -371 119 -647 433 -721 821 -8 40 -14 125 -14 187 0 62 -3 120 -6 129 -6 14 -63 16 -545 16 l-539 0 -2 -1792z m802 1463 c0 -48 56 -251 93 -338 152 -357 445 -633 810 -762 93 -32 264 -71 316 -71 l31 0 0 -245 0 -245 -47 6 c-272 30 -483 91 -694 200 -112 58 -219 129 -381 255 -71 54 -130 99 -133 99 -3 0 -5 -482 -5 -1071 0 -1189 0 -1190 -65 -1385 -60 -179 -149 -337 -267 -469 -256 -287 -584 -444 -968 -461 -296 -14 -575 65 -829 233 -166 111 -358 328 -451 512 -103 206 -155 488 -131 716 36 332 167 602 405 833 254 247 581 382 924 382 l102 0 0 -239 0 -238 -122 -5 c-101 -5 -140 -11 -218 -37 -282 -92 -498 -322 -576 -616 -14 -53 -18 -104 -18 -210 1 -123 4 -151 28 -230 108 -357 413 -600 781 -622 241 -14 477 74 650 242 114 110 186 235 239 410 21 70 21 78 24 1728 l2 1657 250 0 250 0 0 -29z"></path>
                                </g>
                              </svg></a></li>
                        </ul>
                      </div>

                    </div>
                    <div id="guff_custom_categories-2" class="widget_block clearfix widget_guff_custom_categories">
                      <div class="wid-title"><span class="text"><span>Categories</span></span></div>
                      <div class="guff_fn_ccategories" data-limit="4">
                        <ul data-limit-height="267.33320000000003px" data-max-height="1099.3328000000001px" style="height: 267.333px;">
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/uncategorized/"></a><span class="cat_title"><span class="name">Uncategorized</span><span class="count">1</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/art-and-design/"></a><span class="cat_title"><span class="name">Art and Design</span><span class="count">2</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/writing-and-literature/"></a><span class="cat_title"><span class="name">Writing and Literature</span><span class="count">1</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/photography/"></a><span class="cat_title"><span class="name">Photography</span><span class="count">25</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/crafts-and-diy/"></a><span class="cat_title"><span class="name">Crafts and DIY</span><span class="count">2</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/inspiration/"></a><span class="cat_title"><span class="name">Inspiration</span><span class="count">25</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/entrepreneurship/"></a><span class="cat_title"><span class="name">Entrepreneurship</span><span class="count">1</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/innovation/"></a><span class="cat_title"><span class="name">Innovation</span><span class="count">1</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/film-and-animation/"></a><span class="cat_title"><span class="name">Film and Animation</span><span class="count">2</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/fashion/"></a><span class="cat_title"><span class="name">Fashion</span><span class="count">4</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/food-culinary/"></a><span class="cat_title"><span class="name">Food &amp; Culinary</span><span class="count">1</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/travel-exploration/"></a><span class="cat_title"><span class="name">Travel &amp; Exploration</span><span class="count">3</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/technology/"></a><span class="cat_title"><span class="name">Technology</span><span class="count">1</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/wellness/"></a><span class="cat_title"><span class="name">Wellness</span><span class="count">1</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/education/"></a><span class="cat_title"><span class="name">Education</span><span class="count">1</span></span></div>
                          </li>
                          <li>
                            <div class="category__item"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/category/history-culture/"></a><span class="cat_title"><span class="name">History &amp; Culture</span><span class="count">6</span></span></div>
                          </li>
                        </ul>
                        <div class="show_others"><a href="#" aria-label="Show More/Less Categories" data-more="More" data-less="Less">More</a></div><span class="btm_icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 905.76 427.8" style="enable-background:new 0 0 905.76 427.8;" xml:space="preserve" class="fn__svg  replaced-svg">
                            <path d="M640.31,402.95c-48.91-57.58-97.83-115.14-146.75-172.7c59.44,39.94,121.48,75.85,186.01,107.43  c12.55,6.14,28.17-8.34,16.91-20.08c-64.71-67.5-129.48-134.94-194.16-202.47c128.41,75.2,256.83,150.39,385.24,225.59  c12.48,7.31,23.44-7.55,15.51-18.42C815.07,201.57,710.97,95.11,593.89,2.37c-11.43-9.06-23.64,10.08-12.26,19.06  C680.78,99.64,769.72,190,847.68,289.21c-136.07-79.74-272.14-159.49-408.2-239.23c-11.66-6.83-25.55,8.16-15.64,18.57  c66.2,69.54,132.21,139.28,198.24,208.99c-72.18-40.44-141.01-86.4-206.15-137.74c-12.81-10.1-27.45,9.5-17.71,21.04  c55.52,65.77,111.04,131.53,166.57,197.29C464.54,299.6,364.3,241.06,264.06,182.53c-15.28-8.92-29.26,9.36-19.18,22.77  c42.06,55.94,84.13,111.88,126.19,167.82c-53.46-24.24-106.93-48.48-160.39-72.71c-12.86-5.83-24.88,11-18.79,22.23  c8.16,15.06,16.3,30.13,24.46,45.19c-63.32-22.02-128.14-39.1-194.03-51.97c-24.82-4.85-31.68,30.29-6.42,34.27  c78.68,12.4,155,33.88,229.45,62.09c13.03,4.94,25.52-10.64,19.03-22.51c-7.47-13.65-14.93-27.31-22.39-40.96  c57.52,25.88,115.03,51.77,172.55,77.65c15.55,7,24.27-14.25,16.11-25.04c-39.32-51.99-78.64-103.98-117.96-155.98  c103.08,59.8,206.16,119.61,309.23,179.41C636.04,433.01,651.07,415.62,640.31,402.95z"></path>
                          </svg></span>
                      </div>

                    </div>
                    <div id="tag_cloud-2" class="widget_block clearfix widget_tag_cloud">
                      <div class="wid-title"><span class="text"><span>Tag Cloud</span></span></div>
                      <div class="tagcloud"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/inspiration/" class="tag-cloud-link tag-link-33 tag-link-position-1" style="font-size: 14px;">inspiration</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/style/" class="tag-cloud-link tag-link-40 tag-link-position-2" style="font-size: 14px;">style</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/photography/" class="tag-cloud-link tag-link-25 tag-link-position-3" style="font-size: 14px;">photography</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/exploration/" class="tag-cloud-link tag-link-24 tag-link-position-4" style="font-size: 14px;">exploration</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/education/" class="tag-cloud-link tag-link-41 tag-link-position-5" style="font-size: 14px;">education</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/writing/" class="tag-cloud-link tag-link-22 tag-link-position-6" style="font-size: 14px;">writing</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/history/" class="tag-cloud-link tag-link-32 tag-link-position-7" style="font-size: 14px;">history</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/environmentalart/" class="tag-cloud-link tag-link-38 tag-link-position-8" style="font-size: 14px;">environmentalart</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/art/" class="tag-cloud-link tag-link-37 tag-link-position-9" style="font-size: 14px;">art</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/culture/" class="tag-cloud-link tag-link-48 tag-link-position-10" style="font-size: 14px;">culture</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/wellness/" class="tag-cloud-link tag-link-27 tag-link-position-11" style="font-size: 14px;">wellness</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/performingarts/" class="tag-cloud-link tag-link-39 tag-link-position-12" style="font-size: 14px;">performingarts</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/literature/" class="tag-cloud-link tag-link-42 tag-link-position-13" style="font-size: 14px;">literature</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/socialimpact/" class="tag-cloud-link tag-link-43 tag-link-position-14" style="font-size: 14px;">socialimpact</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/innovation/" class="tag-cloud-link tag-link-44 tag-link-position-15" style="font-size: 14px;">innovation</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/events/" class="tag-cloud-link tag-link-45 tag-link-position-16" style="font-size: 14px;">events</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/travel/" class="tag-cloud-link tag-link-46 tag-link-position-17" style="font-size: 14px;">travel</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/thinking/" class="tag-cloud-link tag-link-36 tag-link-position-18" style="font-size: 14px;">thinking</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/food/" class="tag-cloud-link tag-link-34 tag-link-position-19" style="font-size: 14px;">food</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/entrepreneurship/" class="tag-cloud-link tag-link-18 tag-link-position-20" style="font-size: 14px;">entrepreneurship</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/design/" class="tag-cloud-link tag-link-19 tag-link-position-21" style="font-size: 14px;">design</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/crafts/" class="tag-cloud-link tag-link-20 tag-link-position-22" style="font-size: 14px;">crafts</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/digitalart/" class="tag-cloud-link tag-link-21 tag-link-position-23" style="font-size: 14px;">digitalart</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/music/" class="tag-cloud-link tag-link-23 tag-link-position-24" style="font-size: 14px;">music</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/animation/" class="tag-cloud-link tag-link-26 tag-link-position-25" style="font-size: 14px;">animation</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/diy/" class="tag-cloud-link tag-link-28 tag-link-position-26" style="font-size: 14px;">DIY</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/culinaryarts/" class="tag-cloud-link tag-link-29 tag-link-position-27" style="font-size: 14px;">culinaryarts</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/sustainability/" class="tag-cloud-link tag-link-31 tag-link-position-28" style="font-size: 14px;">sustainability</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/parenting/" class="tag-cloud-link tag-link-30 tag-link-position-29" style="font-size: 14px;">parenting</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/film/" class="tag-cloud-link tag-link-17 tag-link-position-30" style="font-size: 14px;">film</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/technology/" class="tag-cloud-link tag-link-35 tag-link-position-31" style="font-size: 14px;">technology</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/fashion/" class="tag-cloud-link tag-link-47 tag-link-position-32" style="font-size: 14px;">fashion</a>
                        <a href="https://frenify.com/work/envato/frenify/wp/guff/1/tag/activism/" class="tag-cloud-link tag-link-49 tag-link-position-33" style="font-size: 14px;">activism</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /WITH SIDEBAR -->


      </div>


    </div>

    <div class="clearfix"></div>




    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- !Footer -->

  </div>

</div>