<div class="aiz-main-wrapper d-flex">

    <div class="flex-grow-1">
        <div class="container pt-5">
            <div class="d-flex justify-content-center mt-5">
                <div class="card install-card position-relative">
                    <!-- Content -->
                    <div class="card-body install-card-body h-100 w-100 z-3 position-relative">
                        <!-- Top content -->
                        <div class="mar-ver pad-btm text-center">
                            <img src="https://media.licdn.com/dms/image/D4E0BAQFPjuN3fGVG7w/company-logo_200_200/0/1700161807189/nolimitsystemsllc_logo?e=2147483647&v=beta&t=JQbrZr0YXPMp0Y0NGnabY3wapavcgqfoZZUQV111-Ms" alt=""
                            width="64" height="64">
                            <h1 class="fs-21 fw-700 text-uppercase mt-2" style="color: #3d3d3d;">CHECKING FILE
                                PERMISSIONS</h1>
                            <p class="fs-12 fw-500" style="color:  #666; line-height: 18px;">
                                We ran diagnosis on your server. Review the items that have a <span
                                    style="color: #fe2b25">red</span> mark on it. <br> If everything is green, you
                                are good to go to the next step.
                            </p>
                        </div>

                        <ul class="list-group rounded-2">
                            <li class="list-group-item fs-12 fw-600 d-flex align-items-center justify-content-between"
                                style="line-height: 18px; color: #666; gap: 7px;">
                                Nodejs version <%= nodeVersion %>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13.435" height="13.435"
                                    viewBox="0 0 13.435 13.435">
                                    <path id="Union_2" data-name="Union 2"
                                        d="M-4076.25,7a.75.75,0,0,1-.75-.75V.75a.75.75,0,0,1,.75-.75.75.75,0,0,1,.75.75V5.5h9.75a.75.75,0,0,1,.75.75.75.75,0,0,1-.75.75Z"
                                        transform="translate(2882.875 -2874.389) rotate(-45)" fill="#00ac47" />
                                </svg>
                            </li>
                            <li class="list-group-item fs-12 fw-600 d-flex align-items-center justify-content-between"
                                style="line-height: 18px; color: #666; gap: 7px;">
                                Axios Enabled

                                <svg xmlns="http://www.w3.org/2000/svg" width="13.435" height="13.435"
                                    viewBox="0 0 13.435 13.435">
                                    <path id="Union_2" data-name="Union 2"
                                        d="M-4076.25,7a.75.75,0,0,1-.75-.75V.75a.75.75,0,0,1,.75-.75.75.75,0,0,1,.75.75V5.5h9.75a.75.75,0,0,1,.75.75.75.75,0,0,1-.75.75Z"
                                        transform="translate(2882.875 -2874.389) rotate(-45)" fill="#00ac47" />
                                </svg>
                            </li>
                            <li class="list-group-item fs-12 fw-600 d-flex align-items-center justify-content-between"
                                style="line-height: 18px; color: #666; gap: 7px;">
                                .env File Permission

                                <svg xmlns="http://www.w3.org/2000/svg" width="13.435" height="13.435"
                                    viewBox="0 0 13.435 13.435">
                                    <path id="Union_2" data-name="Union 2"
                                        d="M-4076.25,7a.75.75,0,0,1-.75-.75V.75a.75.75,0,0,1,.75-.75.75.75,0,0,1,.75.75V5.5h9.75a.75.75,0,0,1,.75.75.75.75,0,0,1-.75.75Z"
                                        transform="translate(2882.875 -2874.389) rotate(-45)" fill="#00ac47" />
                                </svg>
                            </li>
                            <li class="list-group-item fs-12 fw-600 d-flex align-items-center justify-content-between"
                                style="line-height: 18px; color: #666; gap: 7px;">
                                mainRouter.js File Permission

                                <svg xmlns="http://www.w3.org/2000/svg" width="13.435" height="13.435"
                                    viewBox="0 0 13.435 13.435">
                                    <path id="Union_2" data-name="Union 2"
                                        d="M-4076.25,7a.75.75,0,0,1-.75-.75V.75a.75.75,0,0,1,.75-.75.75.75,0,0,1,.75.75V5.5h9.75a.75.75,0,0,1,.75.75.75.75,0,0,1-.75.75Z"
                                        transform="translate(2882.875 -2874.389) rotate(-45)" fill="#00ac47" />
                                </svg>
                            </li>
                        </ul>

                        <p class="mb-4 pb-4 absolute-bottom-left right-0 d-flex justify-content-center">
                            <a href="/" class="back-btn-svg mr-3" title="Go Back"
                                style="box-shadow: 0px 8px 16px rgb(255 88 0 / 16%); border-radius: 50%;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                                    <g id="Group_22706" data-name="Group 22706" transform="translate(-770 -653)">
                                        <g id="Ellipse_26" data-name="Ellipse 26" transform="translate(770 653)"
                                            fill="none" stroke="#cccccc" stroke-width="1">
                                            <circle cx="20" cy="20" r="20" stroke="none" />
                                            <circle class="inner" cx="20" cy="20" r="19.5" fill="none" />
                                        </g>
                                        <path id="e078aa9915b23dfe83446121b09a6213" class="arrow"
                                            d="M98.073,90.719H88.146l4.576-4.576L91.537,85,85,91.537l6.537,6.537,1.144-1.144-4.535-4.576h9.927Z"
                                            transform="translate(698.463 581.463)" fill="#cccccc" />
                                    </g>
                                </svg>
                            </a>
                            <a href="/step2" class="btn btn-install text-uppercase">Go To
                                Next Step</a>
                        </p>
                    </div>

                    <!-- Common file -->
                    <!-- top right watermark -->
                    <div class="absolute-top-right z-1" style="margin-right: 4rem;">
                        
                    </div>

                    <!-- top right links -->
                    <%- include('../partials/installation/top-right-link.ejs') %>


                    <!-- Bottom -->
                    <div class="absolute-bottom-left right-0  z-5" style="margin-left: 4rem; margin-right: 4rem;">
                        <div class="row gutters-16 px-3">
                            <div class="col" style="min-height: 3px; background: #007cff"></div>
                            <div class="col" style="min-height: 3px;  background: #ea4335"></div>
                            <div class="col" style="min-height: 3px;  background: #00ac47"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>