<div class="aiz-content-wrapper">
    <div class="aiz-topbar px-15px px-lg-25px d-flex align-items-stretch justify-content-between">
        <div class="d-flex">
            <!-- Mobile toggler -->
           <%- include('../admin/partials/topbar.ejs') %>

        </div>
        <div class="d-flex justify-content-between align-items-stretch flex-grow-xl-1">
            <div class="d-flex justify-content-around align-items-center align-items-stretch">
                <!-- Browse Website -->
                <div class="aiz-topbar-item mr-3">
                    <div class="d-flex align-items-center">

                        <a class="btn btn-topbar has-transition btn-icon btn-circle btn-light p-0 d-flex align-items-center justify-content-center"
                            href="https://demo.activeitzone.com/ecommerce" target="_blank" data-toggle="tooltip"
                            data-title="Browse Website">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <path id="_754bac7463b8b1afad8e10a2355d1700"
                                    data-name="754bac7463b8b1afad8e10a2355d1700"
                                    d="M56,48a8,8,0,1,0,8,8A8,8,0,0,0,56,48Zm-.829,14.808a6.858,6.858,0,0,1-4.39-11.256,7.6,7.6,0,0,1,.077.93,2.966,2.966,0,0,0,.382,2.26,3.729,3.729,0,0,1,.362,1.08c.1.341.5.519.77.729.552.423,1.081.916,1.666,1.288.387.246.628.368.515.84a2.98,2.98,0,0,1-.313.951,1.927,1.927,0,0,0,.321.861c.288.288.575.553.889.813C55.938,61.706,55.4,62.229,55.171,62.808Zm5.678-1.959a6.808,6.808,0,0,1-3.56,1.888,2.844,2.844,0,0,1,.842-1.129,2.865,2.865,0,0,0,.757-.937,6.506,6.506,0,0,1,.522-.893c.272-.419-.67-1.051-.975-1.184a10.052,10.052,0,0,1-1.814-1.13c-.435-.306-1.318.16-1.808-.054A9.462,9.462,0,0,1,53,56.166c-.6-.454-.574-.984-.574-1.654.472.017,1.144-.131,1.458.249.1.12.439.655.667.465.186-.155-.138-.779-.2-.925-.193-.451.439-.626.762-.932.422-.4,1.326-1.024,1.254-1.309s-.9-1.1-1.394-.969c-.073.019-.719.7-.844.8q0-.332.01-.663c0-.14-.26-.283-.248-.373.031-.227.664-.64.821-.821-.11-.069-.487-.392-.6-.345-.276.115-.588.194-.863.309a1.756,1.756,0,0,0-.025-.274,6.792,6.792,0,0,1,1.743-.506l.542.218.382.454.382.394.334.108.53-.5L57,49.536v-.321a6.782,6.782,0,0,1,2.9,1.146c-.155.014-.326.037-.518.061a1.723,1.723,0,0,0-.268-.1c.251.54.513,1.073.779,1.606.284.569.915,1.18,1.026,1.781.131.708.04,1.352.111,2.185a3.732,3.732,0,0,0,.9,1.714,1.812,1.812,0,0,0,.707.086A6.815,6.815,0,0,1,60.849,60.849Z"
                                    transform="translate(-48 -48)" fill="#717580"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- POS -->
                <div class="aiz-topbar-item mr-3">
                    <div class="d-flex align-items-center">

                        <a class="btn btn-topbar has-transition btn-icon btn-circle btn-light p-0 d-flex align-items-center justify-content-center"
                            href="https://demo.activeitzone.com/ecommerce/admin/pos" target="_blank"
                            data-toggle="tooltip" data-title="POS">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.79" height="16" viewBox="0 0 13.79 16">
                                <g id="_371925cdd3f531725a9fa8f3ebf8fe9e" data-name="371925cdd3f531725a9fa8f3ebf8fe9e"
                                    transform="translate(-2.26 0)">
                                    <path id="Path_40673" data-name="Path 40673"
                                        d="M10.69,7H3.26a1.025,1.025,0,0,0-1,1V18.45a1.03,1.03,0,0,0,1,1.05h7.43a1.03,1.03,0,0,0,1.03-1.03V8A1.025,1.025,0,0,0,10.69,7ZM4.94,17.86H3.995v-.95H4.94Zm0-2.355H3.995v-.95H4.94Zm0-2.355H3.995V12.2H4.94Zm2.5,4.71H6.5v-.95h.955Zm0-2.355H6.5v-.95h.955Zm0-2.355H6.5V12.2h.955Zm2.5,4.71H8.99v-.95h.95Zm0-2.355H8.99v-.95h.95Zm0-2.355H8.99V12.2h.95Zm.325-3a.17.17,0,0,1-.165.17H3.835a.17.17,0,0,1-.165-.17V8.795a.165.165,0,0,1,.165-.165H10.13a.165.165,0,0,1,.165.165Zm5.09-1.45H15.13v9.09h.25a.67.67,0,0,0,.67-.67V9.375a.67.67,0,0,0-.695-.675Z"
                                        transform="translate(0 -3.5)" fill="#717580"></path>
                                    <rect id="Rectangle_20842" data-name="Rectangle 20842" width="1.465" height="9.095"
                                        transform="translate(12.185 5.2)" fill="#717580"></rect>
                                    <rect id="Rectangle_20843" data-name="Rectangle 20843" width="0.63" height="9.095"
                                        transform="translate(14.06 5.2)" fill="#717580"></rect>
                                    <path id="Path_40674" data-name="Path 40674"
                                        d="M13.895.895a.89.89,0,0,0-.26-.635A.91.91,0,0,0,13,0a.895.895,0,0,0-.91.895v.53h1.79Zm-2.2,0a.76.76,0,0,1,0-.145.68.68,0,0,1,0-.1h.01A.5.5,0,0,1,11.755.5.43.43,0,0,1,11.79.4a1.2,1.2,0,0,1,.145-.26.5.5,0,0,1,.04-.055L12.045,0H7.995A.815.815,0,0,0,7.18.81V3.03h4.5Z"
                                        transform="translate(-2.46)" fill="#717580"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Clear Cache -->
                <div class="d-flex justify-content-around align-items-center align-items-stretch">
                    <div class="aiz-topbar-item d-none d-sm-block">
                        <div class="d-flex align-items-center h-100">
                            <a class="btn btn-soft-blue btn-sm d-flex align-items-center rounded-2 hov-svg-white"
                                href="https://demo.activeitzone.com/ecommerce/admin/clear-cache">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.023" height="16"
                                    viewBox="0 0 16.023 16">
                                    <g id="Group_27930" data-name="Group 27930" transform="translate(16597 13026)">
                                        <g id="Group_27929" data-name="Group 27929"
                                            transform="translate(-16597 -13026)">
                                            <path id="Path_40670" data-name="Path 40670"
                                                d="M2.795,1,1.265,8H14.8L13.366,1H2.795M1.989,0H14.183l1.841,9h-16Z"
                                                transform="translate(0)" fill="#3390f3"></path>
                                            <path id="Path_40671" data-name="Path 40671"
                                                d="M1,.928V5H15V.928H1m-1-1H16V6H0Z" transform="translate(0 10)"
                                                fill="#3390f3"></path>
                                        </g>
                                        <path id="Rectangle_20177" data-name="Rectangle 20177" d="M0,0H2V1H0Z"
                                            transform="translate(-16585 -13014)" fill="#3390f3"></path>
                                    </g>
                                </svg>
                                <span class="fw-500 ml-2 mr-0 d-none d-md-block">Clear Cache</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-around align-items-center align-items-stretch">
                <!-- Notifications -->
                <div class="aiz-topbar-item ml-2 ml-md-3">
                    <div class="align-items-stretch d-flex dropdown">
                        <a class="dropdown-toggle no-arrow" data-toggle="dropdown" href="javascript:void(0);"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            <span
                                class="btn btn-topbar btn-circle btn-light p-0 d-flex justify-content-center align-items-center"
                                data-toggle="tooltip" data-title="Notification">
                                <span class="d-flex align-items-center position-relative">
                                    <div class="px-2 hov-svg-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16"
                                            viewBox="0 0 14 16">
                                            <g id="Group_23884" data-name="Group 23884"
                                                transform="translate(-677 5110)">
                                                <path id="Union_38" data-name="Union 38"
                                                    d="M5.5,16a.5.5,0,0,1,0-1h3a.5.5,0,1,1,0,1Zm-5-2a.5.5,0,0,1,0-1H2V7A5.008,5.008,0,0,1,6.5,2.025V.5a.5.5,0,1,1,1,0V2.025A5.007,5.007,0,0,1,12,7H11A4,4,0,1,0,3,7v6h8V7h1v6h1.5a.5.5,0,1,1,0,1Z"
                                                    transform="translate(677 -5110)" fill="#9da3ae"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <span
                                        class="badge badge-sm badge-dot badge-circle badge-danger position-absolute absolute-top-right"></span>
                                </span>
                            </span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-xl py-0">
                            <div class="notifications">
                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark active" data-toggle="tab" data-type="order"
                                            href="javascript:void();" data-target="#orders-notifications" role="tab"
                                            id="orders-tab">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" data-toggle="tab" data-type="seller"
                                            href="javascript:void();" data-target="#sellers-notifications" role="tab"
                                            id="sellers-tab">Sellers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" data-toggle="tab" data-type="seller"
                                            href="javascript:void();" data-target="#payouts-notifications" role="tab"
                                            id="sellers-tab">Payouts</a>
                                    </li>
                                </ul>
                                <div class="tab-content c-scrollbar-light overflow-auto"
                                    style="height: 75vh; max-height: 400px; overflow-y: auto;">
                                    <div class="tab-pane active" id="orders-notifications" role="tabpanel">
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220912-10085522


                                                        has been Delivered

                                                    </p>
                                                    <small class="text-muted">
                                                        September 12 2022, 12:09 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220912-10085522


                                                        has been Paid

                                                    </p>
                                                    <small class="text-muted">
                                                        September 12 2022, 12:09 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220912-10085522


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        September 12 2022, 12:09 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220906-10185640


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        September 6 2022, 12:19 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220906-10155759


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        September 6 2022, 12:16 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220829-07250551


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        August 28 2022, 9:25 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220828-13023343


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        August 28 2022, 3:02 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220828-12334652


                                                        has been Delivered

                                                    </p>
                                                    <small class="text-muted">
                                                        August 28 2022, 2:34 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220828-12334652


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        August 28 2022, 2:33 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220828-12334652


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        August 28 2022, 2:33 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220828-12322996


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        August 28 2022, 2:32 am
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220726-08275357


                                                        has been Delivered

                                                    </p>
                                                    <small class="text-muted">
                                                        July 25 2022, 10:28 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220726-08275357


                                                        has been Paid

                                                    </p>
                                                    <small class="text-muted">
                                                        July 25 2022, 10:28 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220726-08275357


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        July 25 2022, 10:27 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220726-08040637


                                                        has been Delivered

                                                    </p>
                                                    <small class="text-muted">
                                                        July 25 2022, 10:05 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220726-08040637


                                                        has been Paid

                                                    </p>
                                                    <small class="text-muted">
                                                        July 25 2022, 10:05 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220726-08040637


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        July 25 2022, 10:04 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220612-09093535


                                                        has been Placed

                                                    </p>
                                                    <small class="text-muted">
                                                        June 11 2022, 11:09 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220602-13204496


                                                        has been Delivered

                                                    </p>
                                                    <small class="text-muted">
                                                        June 11 2022, 11:04 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">

                                                        Order code:

                                                        20220602-13204496


                                                        has been Paid

                                                    </p>
                                                    <small class="text-muted">
                                                        June 11 2022, 11:04 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="tab-pane" id="sellers-notifications" role="tabpanel">
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Boogie Board Jot Reusable Writing Tablet for Adults

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Pyle Premium LCD Flat Panel TV Tripod

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Razer Gigantus v2 Cloth Gaming Mouse Pad

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Wacom KP504E Pro Pen 2 with Case, black

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Razer Wolverine V2 Chroma Wired Gaming Pro Controller for Xbox

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Amazon Basics 2.4GHz Wireless Computer Keyboard and Mouse Combo

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        SteelSeries Apex 3 RGB Gaming Keyboard

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Anker Hub Adapter

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Wacom Intuos Pro Medium Bluetooth Graphics Drawing Tablet

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        SteelSeries QcK Gaming Mouse Pad

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Wacom Cintiq 16 Drawing Tablet with Full HD 15.4-Inch Display
                                                        Screen

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Redragon S101 Wired RGB Backlit Gaming Keyboard

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Razer Naga Pro Wireless Gaming Mouse

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Acer Chromebook Spin 314 Convertible Laptop

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        StarTech.com USB 3.0 to Dual HDMI Adapter

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Lenovo V30a Business All-in-One Desktop

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Acer Nitro 50 N50-620-UA91 Gaming Desktop

                                                        is approved
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:19 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Acer Nitro 50 N50-620-UA91 Gaming Desktop

                                                        is pending
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:18 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Lenovo V30a Business All-in-One Desktop

                                                        is pending
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:16 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                            <div class="media text-inherit">
                                                <div class="media-body">
                                                    <p class="mb-1 text-truncate-2">


                                                        Product :
                                                        Acer Chromebook Spin 314 Convertible Laptop

                                                        is pending
                                                    </p>
                                                    <small class="text-muted">
                                                        November 18 2023, 1:13 pm
                                                    </small>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="tab-pane" id="payouts-notifications" role="tabpanel">
                                        <li class="list-group-item">
                                            <div class="py-4 text-center fs-16">
                                                No notification found
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center border-top">
                                <a href="https://demo.activeitzone.com/ecommerce/admin/all-notification"
                                    class="text-reset d-block py-2">
                                    View All Notifications
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- language -->
                <div class="aiz-topbar-item ml-2 ml-md-3">
                    <div class="align-items-stretch d-flex dropdown" id="lang-change">
                        <a class="dropdown-toggle no-arrow" data-toggle="dropdown" href="javascript:void(0);"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            <span
                                class="btn btn-topbar btn-circle btn-light p-0 d-flex justify-content-center align-items-center"
                                data-toggle="tooltip" data-title="Language">
                                <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/en.png"
                                    height="11">
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-xs">

                            <li>
                                <a href="javascript:void(0)" data-flag="en" class="dropdown-item  active ">
                                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/en.png"
                                        class="mr-2">
                                    <span class="language">English</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-flag="bd" class="dropdown-item ">
                                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/bd.png"
                                        class="mr-2">
                                    <span class="language">Bangla</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-flag="sa" class="dropdown-item ">
                                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/sa.png"
                                        class="mr-2">
                                    <span class="language">Arabic</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-flag="fr" class="dropdown-item ">
                                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/fr.png"
                                        class="mr-2">
                                    <span class="language">French</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- User -->
                <div class="aiz-topbar-item ml-2 ml-md-3">
                    <div class="align-items-stretch d-flex dropdown">
                        <!-- Image & Name -->
                        <a class="dropdown-toggle no-arrow text-dark" data-toggle="dropdown" href="javascript:void(0);"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            <span class="d-flex align-items-center">
                                <span class="d-none d-md-block">
                                    <span class="d-block fw-500">William C. Schroyer</span>
                                    <span class="d-block small opacity-60 text-right">admin</span>
                                </span>
                                <span class="size-40px rounded-content overflow-hidden ml-md-2">
                                    <img src="https://demo.activeitzone.com/ecommerce/public/uploads/all/jxUqbB2ThpoDFZbBtPHaiy2pF7i02hDaFJEEF9rx.webp"
                                        class="img-fit"
                                        onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/avatar-place.png';">
                                </span>
                            </span>
                        </a>
                        <!-- User dropdown Menus -->
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-md">
                            <a href="https://demo.activeitzone.com/ecommerce/admin/profile" class="dropdown-item">
                                <i class="las la-user-circle"></i>
                                <span>Profile</span>
                            </a>

                            <a href="https://demo.activeitzone.com/ecommerce/logout" class="dropdown-item">
                                <i class="las la-sign-out-alt"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                </div><!-- .aiz-topbar-item -->
            </div>
        </div>
    </div><!-- .aiz-topbar -->
    <div class="aiz-main-content">
        <div class="px-15px px-lg-25px">

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0 h6">Blog Category Information</h5>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" method="POST"
                                action="/admin/blog-category" enctype="multipart/form-data">
                                <input type="hidden" name="_token" value="">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" placeholder="Name" id="name" name="name"
                                            class="form-control" required="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">
                                        Short Description
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <textarea name="short_description" rows="5" class="form-control"
                                            required=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="signinSrEmail">
                                        Banner
                                        <small>(1300x650)</small>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group" data-toggle="aizuploader" data-type="image">
                                            <input type="file" name="banner" class="form-control" id="inputGroupFile01">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-0 text-right">
                                    <button type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white text-center py-3 px-15px px-lg-25px mt-auto">
            <p class="mb-0"> v1.0</p>
        </div>
    </div><!-- .aiz-main-content -->
</div>