<div class="aiz-content-wrapper">
    <%- include('./partials/topbar.ejs') %>

    <!-- .aiz-topbar -->
    <div class="aiz-main-content">
        <div class="px-15px px-lg-25px">
            <div class="row gutters-10">
                <div class="col-lg-6">
                    <div class="row gutters-10">
                        <div class="col-6">
                            <div class="bg-grad-2 text-white rounded-lg mb-4 overflow-hidden">
                                <div class="px-3 pt-3">
                                    <div class="opacity-50">
                                        <span class="fs-12 d-block">Total</span>
                                        Post
                                    </div>
                                    <div class="h3 fw-700 mb-3">
                                        5
                                    </div>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                                    <path fill="rgba(255,255,255,0.3)" fill-opacity="1"
                                        d="M0,128L34.3,112C68.6,96,137,64,206,96C274.3,128,343,224,411,250.7C480,277,549,235,617,213.3C685.7,192,754,192,823,181.3C891.4,171,960,149,1029,117.3C1097.1,85,1166,43,1234,58.7C1302.9,75,1371,149,1406,186.7L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="bg-grad-3 text-white rounded-lg mb-4 overflow-hidden">
                                <div class="px-3 pt-3">
                                    <div class="opacity-50">
                                        <span class="fs-12 d-block">Total</span>
                                        Order
                                    </div>
                                    <div class="h3 fw-700 mb-3">77</div>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                                    <path fill="rgba(255,255,255,0.3)" fill-opacity="1"
                                        d="M0,128L34.3,112C68.6,96,137,64,206,96C274.3,128,343,224,411,250.7C480,277,549,235,617,213.3C685.7,192,754,192,823,181.3C891.4,171,960,149,1029,117.3C1097.1,85,1166,43,1234,58.7C1302.9,75,1371,149,1406,186.7L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="bg-grad-1 text-white rounded-lg mb-4 overflow-hidden">
                                <div class="px-3 pt-3">
                                    <div class="opacity-50">
                                        <span class="fs-12 d-block">Total</span>
                                        Product category
                                    </div>
                                    <div class="h3 fw-700 mb-3">249</div>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                                    <path fill="rgba(255,255,255,0.3)" fill-opacity="1"
                                        d="M0,128L34.3,112C68.6,96,137,64,206,96C274.3,128,343,224,411,250.7C480,277,549,235,617,213.3C685.7,192,754,192,823,181.3C891.4,171,960,149,1029,117.3C1097.1,85,1166,43,1234,58.7C1302.9,75,1371,149,1406,186.7L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="bg-grad-4 text-white rounded-lg mb-4 overflow-hidden">
                                <div class="px-3 pt-3">
                                    <div class="opacity-50">
                                        <span class="fs-12 d-block">Total</span>
                                        Product brand
                                    </div>
                                    <div class="h3 fw-700 mb-3">101</div>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                                    <path fill="rgba(255,255,255,0.3)" fill-opacity="1"
                                        d="M0,128L34.3,112C68.6,96,137,64,206,96C274.3,128,343,224,411,250.7C480,277,549,235,617,213.3C685.7,192,754,192,823,181.3C891.4,171,960,149,1029,117.3C1097.1,85,1166,43,1234,58.7C1302.9,75,1371,149,1406,186.7L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row gutters-10">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="mb-0 fs-14">Products</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="pie-1" class="w-100 chartjs-render-monitor" height="772"
                                        style="display: block; height: 515px; width: 282px;"
                                        width="423"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="mb-0 fs-14">Sellers</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="pie-2" class="w-100 chartjs-render-monitor" height="772"
                                        style="display: block; height: 515px; width: 282px;"
                                        width="423"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gutters-10">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0 fs-14">Category wise product sale</h6>
                        </div>
                        <div class="card-body">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="graph-1" class="w-100 chartjs-render-monitor" height="1177"
                                style="display: block; height: 785px; width: 636px;" width="954"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0 fs-14">Category wise product stock</h6>
                        </div>
                        <div class="card-body">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="graph-2" class="w-100 chartjs-render-monitor" height="1177"
                                style="display: block; height: 785px; width: 636px;" width="954"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h6 class="mb-0">Top 12 Products</h6>
                </div>
                <div class="card-body">
                    <div class="aiz-carousel gutters-10 half-outside-arrow slick-initialized slick-slider"
                        data-items="6" data-xl-items="5" data-lg-items="4" data-md-items="3"
                        data-sm-items="2" data-arrows="true"><button type="button"
                            class="slick-prev slick-arrow slick-disabled" aria-disabled="true" style=""><i
                                class="las la-angle-left"></i></button>
                        <div class="slick-list draggable">
                            <div class="slick-track"
                                style="opacity: 1; width: 3936px; transform: translate3d(0px, 0px, 0px);">
                                <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                    aria-hidden="false" style="width: 328px;">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/analog-black-dial-mens-watch-32-bk-ck"
                                                        class="d-block" tabindex="0">
                                                        <img class="img-fit mx-auto h-210px ls-is-cached lazyloaded"
                                                            src="https://demo.activeitzone.com/ecommerce/public/uploads/all/70TVd2OrhelP4B9bqY9SIK3TnUpCtXkSLntYP5O4.webp"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/70TVd2OrhelP4B9bqY9SIK3TnUpCtXkSLntYP5O4.webp"
                                                            alt="Disney Men's Mickey and Friends Button Down Shirt"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <del class="fw-600 opacity-50 mr-1">$600.000</del>
                                                        <span class="fw-700 text-primary">$450.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/analog-black-dial-mens-watch-32-bk-ck"
                                                            class="d-block text-reset" tabindex="0">Disney
                                                            Men's Mickey and Friends Button Down Shirt</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide slick-active" data-slick-index="1"
                                    aria-hidden="false" style="width: 328px;">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/adidas-womens-cotton-jogger-set-ihfxn"
                                                        class="d-block" tabindex="0">
                                                        <img class="img-fit mx-auto h-210px ls-is-cached lazyloaded"
                                                            src="https://demo.activeitzone.com/ecommerce/public/uploads/all/6ixeCAeRRuMgqnbNgaYolYne3Nn7UqkisGAvMxxz.webp"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/6ixeCAeRRuMgqnbNgaYolYne3Nn7UqkisGAvMxxz.webp"
                                                            alt="The Children's Place Women's Fall Plaid Long Sleeve Dress"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <del class="fw-600 opacity-50 mr-1">$40.000</del>
                                                        <span class="fw-700 text-primary">$32.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/adidas-womens-cotton-jogger-set-ihfxn"
                                                            class="d-block text-reset" tabindex="0">The
                                                            Children's Place Women's Fall Plaid Long Sleeve
                                                            Dress</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="2" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/bracelet-o0ru1952-rose-gold"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit mx-auto h-210px ls-is-cached lazyloaded"
                                                            src="https://demo.activeitzone.com/ecommerce/public/uploads/all/7vRqfDlqK8EgqbFznmSfu3PP0Y1GCaAtJNEwAelo.webp"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/7vRqfDlqK8EgqbFznmSfu3PP0Y1GCaAtJNEwAelo.webp"
                                                            alt="Kate Spade New York Lady Marmalade Bracelet O0RU1952 Rose Gold"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <del class="fw-600 opacity-50 mr-1">$90.000</del>
                                                        <span class="fw-700 text-primary">$72.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/bracelet-o0ru1952-rose-gold"
                                                            class="d-block text-reset" tabindex="-1">Kate
                                                            Spade New York Lady Marmalade Bracelet O0RU1952
                                                            Rose Gold</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="3" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/hp-stream-14-inch-laptop-intel-celeron-n4000-4-gb-ram-64-gb-emmc-windows-10-home-in-s-mode-with-office-365-personal-gtre8"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit mx-auto h-210px ls-is-cached lazyloaded"
                                                            src="https://demo.activeitzone.com/ecommerce/public/uploads/all/4tq17O5lc0hXSnlVqnyYjbI8Fjs0v9Ppl1TtrRoi.webp"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/4tq17O5lc0hXSnlVqnyYjbI8Fjs0v9Ppl1TtrRoi.webp"
                                                            alt="Anivia Computer Headsets Over Ear Headphones Wired Gaming Headset with Mic for PC Mac PS4 PS5 Xbox One, Stereo Surround Sound, Purple"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <del class="fw-600 opacity-50 mr-1">$1,300.000</del>
                                                        <span class="fw-700 text-primary">$1,222.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star active"></i><i
                                                            class="las la-star active"></i><i
                                                            class="las la-star active"></i><i
                                                            class="las la-star active"></i><i
                                                            class="las la-star active"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/hp-stream-14-inch-laptop-intel-celeron-n4000-4-gb-ram-64-gb-emmc-windows-10-home-in-s-mode-with-office-365-personal-gtre8"
                                                            class="d-block text-reset" tabindex="-1">Anivia
                                                            Computer Headsets Over Ear Headphones Wired
                                                            Gaming Headset with Mic for PC Mac PS4 PS5 Xbox
                                                            One, Stereo Surround Sound, Purple</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="4" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/mens-machine-stainless-steel-quartz-chronograph-watch-2gns4"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit mx-auto h-210px ls-is-cached lazyloaded"
                                                            src="https://demo.activeitzone.com/ecommerce/public/uploads/all/GQTEvStCif0VCOgtjERfuvsMowSHybRWFuS7GxlE.webp"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/GQTEvStCif0VCOgtjERfuvsMowSHybRWFuS7GxlE.webp"
                                                            alt="SWAROVSKI Lifelong Heart Necklace, Earrings, and Bracelet Crystal Jewelry Collection, Rose Gold &amp; Rhodium Tone Finish"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <span class="fw-700 text-primary">$190.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/mens-machine-stainless-steel-quartz-chronograph-watch-2gns4"
                                                            class="d-block text-reset"
                                                            tabindex="-1">SWAROVSKI Lifelong Heart Necklace,
                                                            Earrings, and Bracelet Crystal Jewelry
                                                            Collection, Rose Gold &amp; Rhodium Tone
                                                            Finish</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="5" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/calvin-klein-womens-scuba-sleeveless-princess-seamed-sheath-dress-mnluo"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit mx-auto h-210px ls-is-cached lazyloaded"
                                                            src="https://demo.activeitzone.com/ecommerce/public/uploads/all/vmN7CrCxHvCDwLGzTnIBo0iDTjCI7CaxWvTqy5w2.webp"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/vmN7CrCxHvCDwLGzTnIBo0iDTjCI7CaxWvTqy5w2.webp"
                                                            alt="Jessica Simpson Womens Cropped Crewneck Blouse"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <del class="fw-600 opacity-50 mr-1">$150.000</del>
                                                        <span class="fw-700 text-primary">$145.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star active"></i><i
                                                            class="las la-star active"></i><i
                                                            class="las la-star active"></i><i
                                                            class="las la-star active"></i><i
                                                            class="las la-star active"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/calvin-klein-womens-scuba-sleeveless-princess-seamed-sheath-dress-mnluo"
                                                            class="d-block text-reset" tabindex="-1">Jessica
                                                            Simpson Womens Cropped Crewneck Blouse</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="6" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/adobe-photoshop-cc-68450"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit mx-auto h-210px ls-is-cached lazyloaded"
                                                            src="https://demo.activeitzone.com/ecommerce/public/uploads/all/d6zJ0hqqTczvV4AgXJX3cFyu1TIFi6kNcHRh1L5I.webp"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/d6zJ0hqqTczvV4AgXJX3cFyu1TIFi6kNcHRh1L5I.webp"
                                                            alt="Adobe Illustrator | Vector graphic design software | 12-month Subscription with auto-renewal, PC/Mac"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <span class="fw-700 text-primary">$32.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/adobe-photoshop-cc-68450"
                                                            class="d-block text-reset" tabindex="-1">Adobe
                                                            Illustrator | Vector graphic design software |
                                                            12-month Subscription with auto-renewal,
                                                            PC/Mac</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="7" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/adidas-mens-running-shoes-vfooz"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit mx-auto h-210px ls-is-cached lazyloaded"
                                                            src="https://demo.activeitzone.com/ecommerce/public/uploads/all/khH5FWUNCuPrOLpQwFQDlG8FjOH1QeWUupgEc8qV.webp"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/khH5FWUNCuPrOLpQwFQDlG8FjOH1QeWUupgEc8qV.webp"
                                                            alt="Versace Eros for Men 3.4 oz Eau de Parfum Spray"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <del class="fw-600 opacity-50 mr-1">$95.000</del>
                                                        <span class="fw-700 text-primary">$76.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/adidas-mens-running-shoes-vfooz"
                                                            class="d-block text-reset" tabindex="-1">Versace
                                                            Eros for Men 3.4 oz Eau de Parfum Spray</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="8" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/adidas-womens-track-jacket-nlyb0"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit mx-auto h-210px ls-is-cached lazyloaded"
                                                            src="https://demo.activeitzone.com/ecommerce/public/uploads/all/1cIm3jPoA7ZsGQJMp0ifBsSX9Ig22Qjb4YOeR1KU.webp"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/1cIm3jPoA7ZsGQJMp0ifBsSX9Ig22Qjb4YOeR1KU.webp"
                                                            alt="GrandeBROW 2-in-1 Brow Gel and Enhancing Serum"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <span class="fw-700 text-primary">$99.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/adidas-womens-track-jacket-nlyb0"
                                                            class="d-block text-reset"
                                                            tabindex="-1">GrandeBROW 2-in-1 Brow Gel and
                                                            Enhancing Serum</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="9" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/motherhood-maternity-womens-maternity-lace-trim-nursing-nightgown-90jva"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit lazyload mx-auto h-210px"
                                                            src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/JEy6MQqrc4F1HOx5TVlq3VfXtjgasJL7clLpI8Va.webp"
                                                            alt="VredeVogel Women's Cotton Silk Blend Straight Kurta with Trouser Pant &amp; Banarasi Silk Dupatta"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <del class="fw-600 opacity-50 mr-1">$100.000</del>
                                                        <span class="fw-700 text-primary">$80.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/motherhood-maternity-womens-maternity-lace-trim-nursing-nightgown-90jva"
                                                            class="d-block text-reset"
                                                            tabindex="-1">VredeVogel Women's Cotton Silk
                                                            Blend Straight Kurta with Trouser Pant &amp;
                                                            Banarasi Silk Dupatta</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="10" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/dress-the-population-womens-catalina-solid-sleeveless-fit-flare-midi-dress-gxljv"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit lazyload mx-auto h-210px"
                                                            src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/qLMBO3HyCqzG5llfrzUX5kD0iZLFvtpxDodgHR4E.webp"
                                                            alt="Pakistani Women's Readymade Dress Banarasi Art Silk Woven Salwar Kameez Silk Dupatta Stitched Suit"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <del class="fw-600 opacity-50 mr-1">$140.000</del>
                                                        <span class="fw-700 text-primary">$135.800</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/dress-the-population-womens-catalina-solid-sleeveless-fit-flare-midi-dress-gxljv"
                                                            class="d-block text-reset"
                                                            tabindex="-1">Pakistani Women's Readymade Dress
                                                            Banarasi Art Silk Woven Salwar Kameez Silk
                                                            Dupatta Stitched Suit</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="11" aria-hidden="true"
                                    style="width: 328px;" tabindex="-1">
                                    <div>
                                        <div class="carousel-box"
                                            style="width: 100%; display: inline-block;">
                                            <div
                                                class="aiz-card-box border border-light rounded shadow-sm hov-shadow-md mb-2 has-transition bg-white">
                                                <div class="position-relative">
                                                    <a href="https://demo.activeitzone.com/ecommerce/product/daily-ritual-womens-jersey-short-sleeve-boxy-pocket-t-shirt-dress-s6bhs"
                                                        class="d-block" tabindex="-1">
                                                        <img class="img-fit lazyload mx-auto h-210px"
                                                            src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg"
                                                            data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/9w8dW4JRK9DyDU3jl0KduUe72PIjAY3Y7lY7RCi3.webp"
                                                            alt="Women's Slim-Fit Layering Long Sleeve Knit Rib Crew Neck (Available in Plus Size), Pack of 2"
                                                            onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg';">
                                                    </a>
                                                </div>
                                                <div class="p-md-3 p-2 text-left">
                                                    <div class="fs-15">
                                                        <del class="fw-600 opacity-50 mr-1">$120.000</del>
                                                        <span class="fw-700 text-primary">$114.000</span>
                                                    </div>
                                                    <div class="rating rating-sm mt-1">
                                                        <i class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i><i
                                                            class="las la-star"></i>
                                                    </div>
                                                    <h3 class="fw-600 fs-13 text-truncate-2 lh-1-4 mb-0">
                                                        <a href="https://demo.activeitzone.com/ecommerce/product/daily-ritual-womens-jersey-short-sleeve-boxy-pocket-t-shirt-dress-s6bhs"
                                                            class="d-block text-reset" tabindex="-1">Women's
                                                            Slim-Fit Layering Long Sleeve Knit Rib Crew Neck
                                                            (Available in Plus Size), Pack of 2</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><button type="button" class="slick-next slick-arrow" style=""
                            aria-disabled="false"><i class="las la-angle-right"></i></button>
                    </div>
                </div>
            </div>


        </div>
        <div class="bg-white text-center py-3 px-15px px-lg-25px mt-auto">
            <p class="mb-0"> v1.0</p>
        </div>
    </div><!-- .aiz-main-content -->
</div>