<div class="guff_fn_content">
  <div class="guff_fn_pages">
    <div class="guff_fn_page_ajax">
      <!-- ERROR PAGE -->
      <div class="guff_fn_404">
        <div class="container">
          <div class="message_holder">
            <div class="title_holder">
              <h2 class="fn__title"> 404 </h2>
              <h3 class="fn__maintitle" data-text="Page Not Found" data-align="center"> Page Not Found </h3>
              <p class="fn__desc"> Sorry, but the page you are looking for was moved, removed, renamed or might never existed... </p>
            </div>
            <div class="container-custom">
              <form action="/search" method="get">
                <input type="text" placeholder="Search here..." name="s" autocomplete="off">
                <div class="search">
                  <input type="submit" class="pe-7s-search" value="Search">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet" class="fn__svg  replaced-svg">

                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
                      <path d="M2025 5110 c-516 -55 -966 -263 -1335 -617 -362 -346 -588 -785 -667 -1294 -24 -157 -24 -481 0 -637 155 -998 906 -1746 1907 -1899 157 -24 463 -24 620 0 337 52 653 171 915 345 55 37 104 69 109 71 4 2 241 -228 525 -511 404 -403 527 -520 566 -539 41 -19 66 -24 135 -23 72 0 93 4 137 27 69 36 120 88 152 156 21 46 26 70 26 136 -1 138 8 126 -567 709 l-507 513 72 110 c175 265 292 575 344 905 24 156 24 480 0 638 -77 504 -305 947 -667 1293 -336 323 -732 521 -1195 598 -136 23 -441 33 -570 19z m518 -660 c578 -113 1048 -532 1221 -1090 156 -502 63 -1034 -254 -1450 -80 -105 -258 -274 -365 -347 -484 -329 -1101 -372 -1618 -112 -706 355 -1046 1156 -811 1909 175 559 649 983 1221 1089 149 28 167 29 343 26 105 -3 190 -10 263 -25z"></path>
                    </g>
                  </svg>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /ERROR PAGE -->


    </div>

    <div class="clearfix"></div>




    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- !Footer -->

  </div>

</div>